
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: SF Pro;
    height: 100vh;
    /* height: 3175px;
    width: 1440px; */
    background-color: #BEB5AD;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.50rem;
}

header {
    height: 12vh;
    /* height: 91px; */
    background-color: #EAE9E9;
    position: sticky;
}

header nav ul{
    background-color: #EAE9E9;
    padding: 1em;
    vertical-align: top;
    text-align: right;
}

header nav ul li {
    font-size: 16px;
    list-style-type: none;
}

header div nav ul li a {
    color: #634C39;
}

main{
    /* width: 1440px;
    height: 2340px; */
    margin-top: 2%;
    margin-bottom: 2%;
    background-color:#BEB5AD;
    }

.navbar {
        --bs-navbar-padding-y: 0;
        --bs-navbar-brand-padding-y: 0;
        
}
.navbar-nav{
    padding-left: 2em;
    --bs-nav-link-color: #634C39;
    --bs-nav-link-hover-color: #D75E5E;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;
    /* background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important; */
}

    /*-----MAIN/ENCABEZADO PAGINAS-----------*/

/* #Encabezado{
    height: 573px;
} */

/* .FotoEncabezado{
        height: 420px;
        width: 691px;
        border-radius: 20px;
} */

h1{
    text-align: right;
    font-size: 150px;
    color: #634C39;
}

h2{
        font-size: 96px;
        color: #634C39;
    }

    #copy{
        height: 109px;
        width: 611px;
        color: #634C39;
        font-size: 24px;
        text-align: right;
    }

    #copyAlt{
        /* height: 215px; */
        width: 669px;
        /* margin: 31px; */
        color: #634C39;
        font-size: 24px;
        text-align: right;
    }
/*-----MAIN/PAGINA RECETAS-----------*/

    .FotoReceta{
        width: 357px;
        height: 217px;
    }

    .TextoReceta{
        height: 265px;
        width: 357px;
        padding: 0%;
        text-align: left;
        vertical-align: top;
        font-size: 20px;
        color: #f5f5f5
}

/*-----MAIN/PAGINA ZONAS-----------*/
.localidades{
    color: #634C39;
    font-size: 24px;
    text-align: left;
}

/*-----MAIN/FORMULARIOS-----------*/
#h2Alt{
    font-size: 96px;
    color: #f5f5f5;
    text-align: right;
}

.textoForm{
    font-size: 20px;
    color: #f5f5f5;
    text-align: right;
}

.labels{
    font-size: 24px;
    color: #f5f5f5;
    text-align: left;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #634C39;
    --bs-btn-border-color: #634C39;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6D4E3B;
    --bs-btn-hover-border-color: #664F3C;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #664F3C;
    --bs-btn-active-border-color: #6E4E3B;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #634C39;
    --bs-btn-disabled-border-color: #634C39;
}

/*-----FOOTER-----------*/
    footer{
        font-size: 0;
        background-color:#EAE9E9;
        /* position: sticky; */
        /* width: 100%;
        height: 190px;
        left: 0px;
        top: 2985px; */
        /* height: 8vh; */
    }

    footer nav ul li{
        font-size: 16px;
        /* margin: 40px; */
        list-style-type: none;
        text-decoration: none;
    }

    .nav{
        padding-left: 2em;
        --bs-nav-link-color: #634C39;
    }

/*- ------- media queries ----------/*

    /*dispositivos móviles */
@media (max-width: 576px) {
    h1 {
        font-size: 72px;
    }
    h2{
        font-size: 48px;
    }
    #h2Alt{
        font-size: 48px;
    }
    #copyAlt{
        font-size: 16px;
}
    .localidades{
    font-size: 16px;
}
#copy{
    font-size: 16px;
}
.TextoReceta{
    font-size: 16px;
    }
}

/*tablets */
@media (min-width: 576px) and (max-width: 992px) {
    h1{
        font-size: 135px;
    }
    h2{
        font-size: 80px;
    }
    #h2Alt{
        font-size: 80px;
    }
    #copyAlt{
        font-size: 20px;
    }
    .localidades{
        font-size: 20px;
    }
    #copy{
        font-size: 20px;
    }
    .TextoReceta{
        font-size: 18px;
        }
}

/*Desktop*/
@media (min-width: 992px) {
    h1{
        font-size: 135px;
    }
    h2{
        font-size: 96px;
    }
    #h2Alt{
        font-size: 90px;
    }
    #copyAlt{
        font-size: 24px;
}
    #copy{
    font-size: 24px;
}
    .TextoReceta{
    font-size: 20px;
    }
}

