header {
  height: 12vh;
  background-color: #EAE9E9;
  position: sticky; }
  header ul {
    background-color: #EAE9E9;
    padding: 1em;
    vertical-align: top;
    text-align: right; }
    header ul li {
      font-size: 16px;
      list-style-type: none; }
      header ul li a {
        color: #634C39; }

.navbar {
  --bs-navbar-padding-y: 0;
  --bs-navbar-brand-padding-y: 0; }

.navbar-nav {
  padding-left: 2em;
  --bs-nav-link-color:$color-principal;
  --bs-nav-link-hover-color: #D75E5E; }

.bg-body-tertiary {
  --bs-bg-opacity: 0; }

.nav-item {
  color: #634C39; }

h1 {
  text-align: right;
  font-size: 150px;
  color: #634C39; }

h2 {
  font-size: 96px;
  color: #634C39; }

#copy {
  height: 109px;
  width: 648px;
  color: #634C39;
  font-size: 24px;
  text-align: right; }

#copyAlt {
  width: 669px;
  color: #634C39;
  font-size: 24px;
  text-align: right; }

.textoLanding {
  font-size: 20px;
  color: #634C39; }

.FotoReceta {
  width: 357px;
  height: 217px; }

.TextoReceta {
  width: 357px;
  padding: 0%;
  text-align: left;
  vertical-align: top;
  font-size: 20px;
  color: #f5f5f5; }

h5 {
  font-size: 64px;
  color: #f5f5f5; }

.panesIzquierda {
  height: 555px;
  width: 555px;
  text-align: left; }

.panesDerecha {
  height: 555px;
  width: 555px;
  text-align: right; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "masamadre nuestrospanes" "masamadre fermentacion" "sabor fermentacion" "sabor variedades" "formatos variedades" "formatos none";
  column-gap: 3em;
  row-gap: 3em; }

div#nuestrospanes {
  grid-area: nuestrospanes; }

article#masamadre {
  grid-area: masamadre; }

article#fermentacion {
  grid-area: fermentacion; }

article#sabor {
  grid-area: sabor; }

article#variedades {
  grid-area: variedades; }

article#formatos {
  grid-area: formatos; }

.localidades {
  color: #634C39;
  font-size: 24px;
  text-align: left; }

#texto_biodiversidad {
  text-align: right;
  font-size: 20px;
  color: #f5f5f5; }

.card {
  width: 336px;
  height: 399px;
  border-radius: 6px;
  --bs-card-bg: rgba(219, 215, 211, 0.2);
  --bs-card-border-width: none;
  box-shadow: #634C39;
  align-items: center;
  overflow: visible;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.25s; }

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px #634C39; }

.cardsFoto {
  height: 147px;
  width: 242px;
  top: -50%;
  transform: translateY(-50%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

.cardsTexto {
  font-size: 48px;
  color: #f5f5f5;
  text-align: center; }

.cardsPrecio {
  font-size: 32px;
  color: #634C39; }

.h2Alt {
  font-size: 96px;
  color: #f5f5f5;
  text-align: right; }

.textoForm {
  font-size: 20px;
  color: #f5f5f5;
  text-align: right; }

.labels {
  font-size: 24px;
  color: #f5f5f5;
  text-align: left; }

.btn-primary {
  color: #fff;
  background-color: #634C39;
  border-color: #634C39; }

footer {
  font-size: 0;
  background-color: #EAE9E9; }
  footer nav ul li {
    font-size: 16px;
    list-style-type: none;
    text-decoration: none; }

.nav {
  padding-left: 2em;
  --bs-nav-link-color: $color-principal; }

@media (max-width: 576px) {
  h1 {
    font-size: 72px; }
  h2 {
    font-size: 48px; }
  .h2Alt {
    font-size: 48px; }
  #copyAlt {
    font-size: 16px; }
  .localidades {
    font-size: 16px; }
  #copy {
    font-size: 16px; }
  .TextoReceta {
    font-size: 14px; }
  #texto_biodiversidad {
    font-size: 14px; }
  .textoLanding {
    font-size: 14px; } }

@media (min-width: 576px) and (max-width: 992px) {
  h1 {
    font-size: 135px; }
  h2 {
    font-size: 80px; }
  .h2Alt {
    font-size: 80px; }
  #copyAlt {
    font-size: 20px; }
  .localidades {
    font-size: 20px; }
  #copy {
    font-size: 20px; }
  .TextoReceta {
    font-size: 16px; }
  #texto_biodiversidad {
    font-size: 18px; }
  .textoLanding {
    font-size: 18px; } }

@media (min-width: 992px) {
  h1 {
    font-size: 135px; }
  h2 {
    font-size: 96px; }
  .h2Alt {
    font-size: 90px; }
  #copyAlt {
    font-size: 24px; }
  #copy {
    font-size: 24px; }
  .TextoReceta {
    font-size: 20px; }
  #texto_biodiversidad {
    font-size: 20px; }
  .textoLanding {
    font-size: 20px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: SF Pro;
  height: 100vh;
  background-color: #BEB5AD;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.50rem; }
  body main {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #BEB5AD; }
