h1{
    text-align: right;
    font-size: 150px;
    color:$color-principal;
}

h2{
        font-size: 96px;
        color:$color-principal;
    }

    #copy{
        height: 109px;
        width: 648px;
        color:$color-principal;
        font-size: 24px;
        text-align: right;
    }

    #copyAlt{
        width: 669px;
        color:$color-principal;
        font-size: 24px;
        text-align: right;
    }