.h2Alt{
    font-size: 96px;
    color: $color-secundario;
    text-align: right;
}

.textoForm{
    font-size: 20px;
    color: $color-secundario;
    text-align: right;
}

.labels{
    font-size: 24px;
    color: $color-secundario;
    text-align: left;
}

.btn {
    // Define the &-primary nested class
    &-primary {
      color: #fff;
      background-color: $color-principal;
      border-color: $color-principal;
    }
  }