@import "./variables";
@import "./header";
@import "./encabezado";
@import "./paginas";
@import "./formulario";
@import "./footer";
@import "./mediaqueries";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: SF Pro;
    height: 100vh;
    background-color:$color-background;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.50rem;
    main{
        margin-top: 2%;
        margin-bottom: 2%;
        background-color:#BEB5AD;
    }
}
